## üí¨ O Dataset

### Pesquisa Nacional por Amostra de Domic√≠lios - 2015

A <b>Pesquisa Nacional por Amostra de Domic√≠lios - PNAD</b> investiga anualmente, de forma permanente, caracter√≠sticas gerais da popula√ß√£o, de educa√ß√£o, trabalho, rendimento e habita√ß√£o e outras, com periodicidade vari√°vel, de acordo com as necessidades de informa√ß√£o para o pa√≠s, como as caracter√≠sticas sobre migra√ß√£o, fecundidade, nupcialidade, sa√∫de, seguran√ßa alimentar, entre outros temas. O levantamento dessas estat√≠sticas constitui, ao longo dos 49 anos de realiza√ß√£o da pesquisa, um importante instrumento para formula√ß√£o, valida√ß√£o e avalia√ß√£o de pol√≠ticas orientadas para o desenvolvimento socioecon√¥mico e a melhoria das condi√ß√µes de vida no Brasil.

Fonte dos Dados: https://ww2.ibge.gov.br/home/estatistica/populacao/trabalhoerendimento/pnad2015/microdados.shtm

#### Vari√°veis Utilizadas:

* Renda: Rendimento mensal do trabalho principal para pessoas de 10 anos ou mais de idade.
* Idade: Idade do morador na data de refer√™ncia em anos.
* Altura: Altura do morador em metros.
* UF:

|C√≥digo|Descri√ß√£o|
|---|---|
|11|Rond√¥nia|
|12|Acre|
|13|Amazonas|
|14|Roraima|
|15|Par√°|
|16|Amap√°|
|17|Tocantins|
|21|Maranh√£o|
|22|Piau√≠|
|23|Cear√°|
|24|Rio Grande do Norte|
|25|Para√≠ba|
|26|Pernambuco|
|27|Alagoas|
|28|Sergipe|
|29|Bahia|
|31|Minas Gerais|
|32|Esp√≠rito Santo|
|33|Rio de Janeiro|
|35|S√£o Paulo|
|41|Paran√°|
|42|Santa Catarina|
|43|Rio Grande do Sul|
|50|Mato Grosso do Sul|
|51|Mato Grosso|
|52|Goi√°s|
|53|Distrito Federal|

* Sexo: 

|C√≥digo|Descri√ß√£o|
|---|---|
|0|Masculino|
|1|Feminino|

* Anos de Estudo

|C√≥digo|Descri√ß√£o|
|---|---|
|1|Sem instru√ß√£o e menos de 1 ano|
|2|1 ano|
|3|2 anos|
|4|3 anos|
|5|4 anos|
|6|5 anos|
|7|6 anos|
|8|7 anos|
|9|8 anos|
|10|9 anos|
|11|10 anos|
|12|11 anos|
|13|12 anos|
|14|13 anos|
|15|14 anos|
|16|15 anos ou mais|
|17|N√£o determinados| 
||N√£o aplic√°vel|

* Cor

|C√≥digo|Descri√ß√£o|
|---|---|
|0|Ind√≠gena|
|2|Branca|
|4|Preta|
|6|Amarela|
|8|Parda|
|9|Sem declara√ß√£o|

#### Observa√ß√µes:

* Os seguintes tratamentos foram realizados nos dados originais:
    *  Foram eliminados os registros onde a <b>Renda</b> era inv√°lida (999 999 999 999);
    * Foram eliminados os registros onde a <b>Renda</b> era missing;
    * Foram considerados somente os registros das <b>Pessoas de Refer√™ncia</b> de cada domic√≠lio (respons√°vel pelo domic√≠lio).

## üí° Tipos de Dado: Conhecendo o Dataset

Importando o pandas e lendo o dataset

In [1]:
import pandas as pd
dados = pd.read_csv("src/dados.csv")
dados.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

üìå Vari√°veis qualitativas ordinais: vari√°veis que podem ser ordenadas ou hierarquizardas

In [2]:
sorted(dados['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

üìå Vari√°veis qualitativas nominais: vari√°veis que n√£o podem ser ordenadas ou hierarquizardas

In [ ]:
sorted(dados['UF'].unique())

In [5]:
sorted(dados['Sexo'].unique())

[0, 1]

In [6]:
sorted(dados['Cor'].unique())

[0, 2, 4, 6, 8]

üìå Vari√°veis quantitativas discretas: vari√°veis que representam uma contagem onde os valores poss√≠veis formam um conjunto finito ou enumer√°vel.

In [7]:
print('De %s at√© %s anos' % (dados.Idade.min(), dados.Idade.max()))

De 13 at√© 99 anos

‚ö†Ô∏è Observa√ß√£o: A vari√°vel idade pode ser classificada de tr√™s formas distintas:
* <b>Quantitativa Discreta</b> - quando representa anos completos (n√∫meros inteiros);
* <b>Quantitativa Cont√≠nua</b> - quando representa a idade exata, sendo representado por fra√ß√µes de anos; e
* <b>Quantitativa Ordinal</b> - quando representa faixas de idade.

üìå Vari√°veis quantitativas cont√≠nuas: vari√°veis que representam uma contagem ou mensura√ß√£o que assumem valores em uma escala cont√≠nua (n√∫meros reais).

In [8]:
print('De %s at√© %s metros' % (dados['Altura'].min(), dados.Altura.max()))

De 1.339244614 at√© 2.028496765 metros